#container {
    border: 2px solid green;
    display: grid;
    grid-template-columns: fit-content(500px) 1fr;
    grid-template-rows: auto;
    
  }
  .item {
    text-align: center;
    border: 1px solid red;
    padding: 20px;
  }
  .item1 {
    background: yellow;
  
  }
  .item2 {
    background: rgb(0, 255, 149);
  }
  .item3 {
    background: rgb(255, 174, 0);
    order: 1;
  }
  .item4 {
    background: rgb(85, 0, 255);
  }
  .item5 {
    background: rgb(255, 0, 242);
  }
  .item6 {
    background: rgb(193, 193, 181);
  }
  .item7 {
    background: rgb(0, 255, 225);
  }
  .item8 {
    background: rgb(157, 0, 255);
  }
  .item9 {
    background: rgb(255, 0, 128);
  }
  