#container {
    height: 1800px;
    border: 4px solid green;
    display: grid;
    /* grid-template-columns: repeat(3,1fr);
    grid-template-rows:repeat(3,1fr); */
    grid-template: 100px 200px 300px/100px 100px 100px;
    /* row-gap:10px ;
    column-gap: 30px; */
    /* gap:10px 20px ; */
    justify-items: flex-start;
    align-items: flex-start;
    /* place-items: start start; */
    justify-content: flex-start;
    align-content:flex-start ;
  /* place-content: flex-end center; */
  }
  .item {
    text-align: center;
    border: 4px solid red;
    padding: 20px;
  }
  .item1 {
    background: yellow;
    /* grid-row: 1/4; */
    /* grid-column: 1/3; */
    align-self: flex-end;
    justify-self: flex-end;
  }
  .item2 {
    background: rgb(0, 255, 149);
    /* grid-row:1/4; */
    /* grid-column:1/4; */
  }
  .item3 {
    background: rgb(255, 174, 0);
  }
  .item4 {
    background: rgb(85, 0, 255);
  }
  .item5 {
    background: rgb(255, 0, 242);
  }
  .item6 {
    background: rgb(193, 193, 181);
  }
  .item7 {
    background: rgb(0, 255, 225);
  }
  .item8 {
    background: rgb(157, 0, 255);
  }
  .item9 {
    background: rgb(255, 0, 128);
  }
  