#box{
  border: 1px solid red;
    width: 100px;
    height: 100px;
    display: inline-block;
}

.cv{
  color: violet
}
.cp{
  color: pink;
}
.cr{
  color:red
}

#header{
  background: yellowgreen;
  color: white;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  font-family: fantasy;
  font-style: italic; 
}

#footer{
  background: yellowgreen;
  color: white;
  text-align: center;
  font-size: 9px;
  font-weight: bold;
  font-family: fantasy;
  font-style: italic; 
  bottom: 0px;
  position: fixed;
   width: 100%;
}

#menu-items{
  text-align: right;
}

#menu-items>a{
  color: red;
  font-size: 10px;
  margin: 10px;
}
